<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div align="center">
          <img src="<%= @usuario.photo_url%>" class="img-thumbnail" height="70" width="70">
        </div>
        <h2 class="section-heading" align="center" style="margin-bottom: 35px"><%= @usuario.name %></h2>
        <div class="form-group" style="margin-bottom: 35px">
          <%= label_tag :name, "Nome:" %>
          <%= text_field_tag :name, @usuario.name, class: "form-control", disabled: true%>
        </div>

        <div class="form-group" style="margin-bottom: 35px">
          <%= label_tag :email, "Email:" %>
          <%= text_field_tag :email, @usuario.email, class: "form-control", disabled: true%>
        </div>
        <% if can? :manage, current_user%>
            <div class="form-group">
              <%= label_tag :moderador, "Moderador:  #{@usuario.moderador ? "Sim" : "Não"}" %>
            </div>
        <%end%>
      </div>
    </div>
  </div>
</article>
<hr>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <h3 class="section-heading" align="center" style="margin-bottom: 35px">Posts</h3>
      <% if @usuario.posts.any?%>
          <%= render 'posts/index'%>
      <%else%>
          <h4 class="section-heading" align="center" style="margin-bottom: 35px">O usuário ainda não tem nenhum post</h4>
      <%end%>
    </div>
  </div>
</div>