<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h2 class="section-heading" style="margin-bottom: 15px;"><%= @post.titulo%></h2>
        <span class="caption text-muted" style="margin-bottom: 25px;">Postado por <%= link_to @post.autor, usuario_path(@post.usuario)%> em <%= @post.created_at.strftime("%d/%m/%Y")%></span>
        <div class="form-actions">
          <%= tweet_button(text: "Novo post no BornIn91!.",:count=>"none") %>
          <div class="fb-share-button" data-href="https://bornin91.herokuapp.com/posts/<%= @post.id%>" data-layout="button_count"></div>
        </div>
        <p><%=@post.corpo.html_safe%></p>
      </div>
    </div>
  </div>
</article>
<% if can? :manage, current_user%>
    <div class="form-actions" align="center">
      <%= link_to "Editar", edit_post_path(@post), :class=>"btn btn-primary btn-xs" %>
      <%= link_to 'Excluir', post_path(@post), :method => "delete", :class => "btn btn-danger btn-xs", :data => {:confirm => ("Tem certeza que deseja excluir esse post?")}%></span></td>
    </div>
<%end%>
<hr>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" align="center">
      <h3 class="section-heading" style="margin-bottom: 30px;">Comentários</h3>
      <%= render 'comentarios/index'%>
    </div>
  </div>
</div>

<div class="form-actions" align="center">
  <% if current_user%>
      <button type="button" class="open-ComentarioDialog btn btn-primary btn-sm" data-toggle="modal" data-target="#newComentario" data-id="<%= @post.id %>">
        Comentar
      </button>
  <%else%>
      <div><%= link_to "Comentar", "#", :class=>"btn btn-primary btn-sm", :disabled=> true, :placeholder=>"teste"%> </div>
      <span class="caption text-muted" style="margin-bottom: 25px;">Faça login para comentar</span>
  <%end%>
</div>
<%= render 'comentarios/new_comentario' %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=1500369153564425&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<script language="javascript">
    $(document).on("click", ".open-ComentarioDialog", function () {
        debugger;
        var PostId = $(this).data('id');
        $(".modal-body #comentario_post_id").val(PostId);
// As pointed out in comments,
// it is superfluous to have to manually call the modal.
// $('#addBookDialog').modal('show');
    });
</script>