<!DOCTYPE html>
<html>
<head>
  <title>BornIn91</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body id="home">
<%= render 'layouts/navbar'%>
<div id=hero>
  <div class="container">
    <div class="row clearfix">
      <h1 class="hero-text animated fadeInDown" style="text-align: center">
        <%= image_tag("logo.png") %><br>
      </h1>
    </div>
  </div>
</div>
<%= flash_message.html_safe %>
<%= yield %>

<div id="footer-white">
  <div class="container">
    <div class="row credits">
      <div class="col-md-12">
        Desenvolvido por <a href="mailto:atavares@id.uff.br">Ana Carolina Tavares</a>
      </div>
    </div>
  </div>
</div>

</body>
</html>

<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '1500369153564425',
            xfbml      : true,
            version    : 'v2.2'
        });
    };

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>


